.day-price-input-row[data-v-5f1789ca]{display:flex;align-items:center;gap:12px}.day-price-tip[data-v-5f1789ca]{font-size:13px;color:#595959}.day-price-amount[data-v-5f1789ca]{color:#fa8c16;font-weight:600}
