.day-price-input-row[data-v-a05c665b]{display:flex;align-items:center;gap:12px}.day-price-tip[data-v-a05c665b]{font-size:13px;color:#595959}.day-price-amount[data-v-a05c665b]{color:#fa8c16;font-weight:600}
