.operate-content[data-v-f261fd2c]{font-size:14px;display:inline}.ip-font[data-v-f261fd2c]{margin-top:5px;font-size:12px;color:#999;display:block}.detail-header[data-v-e9bd01e1]{background-color:#fff;padding:10px}
